body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Full viewport height */
    
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.background
{
    width: 100%;
    height: 100vh;
    background-image: url(weatherApp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#app {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    max-width: 400px;
}

button {
    padding: 10px;
    margin-top: 10px;
}

#weather-icon-img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#hourly-forecast,
#weekly-forecast,
#comparison-forecast {
    margin-top: 20px;
}

.hourly-item,
.daily-item,
.comparison-item {
    margin-bottom: 10px;
}